body {
    background-color: cornflowerblue;
    background-blend-mode: color;
}

.nav{
    text-align: right;
    background-color: white;
    height: 50px;
    border-radius: 5px;
}

.navBtn {
    color:white;
    font-size: 12pt;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
    border-radius: 5px;
}

.about{
    background-color: brown;
    border: brown;
}
.register{
    background: gray;
    border: gray;
}

.wrapper{
    border: 3px solid black; 
    color: black;
    background-color: white;
        margin-top: 2%;
        margin-right: 35%;
        margin-left: 35%;
        margin-bottom: 10%;
        border-radius: 15px;
}

.wrapper h1{
    color: black;
    font-style: bold;
    font-family: comic;
    margin-left: 7%;
    font-size: 24pt;
}

.input{
text-align: left;
padding: 0.1em;
font-size: 1.2em;
margin-left: 7%;
    margin-right: 7%;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border-style: inset;
}

.submit{
    color: white;
    font-size: 12pt;
    text-align: center;
    height: 30px;
    width: 82%;
    background-color: rgb(53, 107, 255);
    border: rgb(53, 107, 255);
    border-radius: 5px;
    margin-left: 7%;
}

.clicks{
    text-align: center;
    object-position: center;
    margin-left: -4%;
}

.clicks img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 10px;
}